@font-face {
  font-family: 'IRANSansX-Bold';
  src: url('./fonts/IRANSansX-Bold.woff2') format('woff2'),
       url('./fonts/IRANSansX-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'IRANSansX-Bold', sans-serif;
  direction: rtl; /* برای راست‌چین کردن */
  text-align: right;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #5cb85c;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #4cae4c;
}

#colorDisplay {
  display: flex;
  flex-direction: column;
}

.color-box {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.color-box span {
  margin-left: 10px;
  font-size: 14px;
}
